:root {
  --base-color: rgba(223, 223, 224, 0.98);
  --bg-color: #d0d0c9;
  --font-color: #424242;
  --line-color: #858484;
  --add-color: #b4b0b4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: 'Raleway', sans-serif;
}
a {
  text-decoration: none;
  font-weight: bold;
  color: var(--font-color);
  font-size: 15px;
}
.fas-icons {
  font-size: 18px;
  color: var(--font-color);
  width: 25px;
  height: 25px;
  align-content: center;
}
body {
  background-color: var(--base-color);
  width: 100%;
  height: auto;
  color: var(--font-color);
}
h3 {
  text-transform: uppercase;
  line-height: 2px;
  letter-spacing: 2px;
  font-size: 18px;
}
h4 {
  font-size: 16px;
  padding-top: 0.5rem;
  letter-spacing: 1.5px;
}
p {
  font-size: 14px;
}
.resume {
  max-width: 1280px;
  margin: 1.2rem auto;
  background-color: var(--bg-color);
  padding: 2rem 1rem;
  box-shadow: rgba(100, 94, 100, 0.2) 0 2px 8px 0;
}
.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-img {
  width: 150px;
  height: 150px;
  position: relative;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid rgba(235, 236, 236, 0.98);
}
.header-name {
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 0.5rem;
  text-align: center;
}
.header-job {
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
}
.header-contact {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  padding: 0.5rem 0;
  font-size: 14px;
}
.header-divider {
  width: 100%;
  text-align: center;
}
.header-divider .divider {
  margin: 1rem 2rem;
  width: 90%;
  border: 1px solid var(--line-color);
}
.body {
  padding-top: 1rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.left-part {
  padding: 0 1rem;
  text-align: right;
  border-right: 2px solid var(--line-color);
}
.card-detail {
  padding: 1rem 1rem;
}
.detail {
  padding: 0.5rem 0;
}
.description {
  padding-top: 0.5rem;
}
.skills-icons {
  padding-top: 1rem;
}
.github {
  border-radius: 50%;
}